Package: enigma2-plugin-skins-teambluehd
Version: 1.5
Section: misc
Priority: optional
Architecture: all
Depends: enigma2-plugin-extensions-openwebif
Maintainer: örlgrey
Description: Skin for Enigma2
Source:
